.btn-pagination {
  font-weight: bold;
  @include inline-block;
  padding      : 0.3em 0.6em;
  margin: 0 10px 5px 0;
  min-width    : 1em;
  text-align   : center;
  @include border-radius(50px);
  box-shadow   : 1px 1px 3px $mainColor;
  border: none;

  &:hover, &.activeSlide, &.current {
    background: #28882e;
    color     : #fff;
  }
}

div.view-house-room-list {
  .view-content {
    text-align: center;

    .views-row {
      @include inline-block;
      width: 246px;
      display: inline-block;
      vertical-align: top;
      margin: 15px 50px 15px 0;
      text-align: left;

      .views-field-title, .views-field-field-district {
        margin: 0 0 5px 0;
      }

      .views-field-title {
        float: left;
        color: $bgColor;
        font-weight: bold;
      }

      .views-field-field-district, .views-field-field-price {
        float: right;
        font-weight: bold;
      }

      .views-field-field-images {
        clear: both;
        width: 258px;
        height: 276px;
        background: url(../images/home/pagination-item.png) no-repeat;

        img {
          width: 228px;
          max-width: 100%;
          height: 246px;
          margin: 9px 11px;
        }
      }

      .views-field-field-address, .views-field-field-house {
        font-weight: bold;
        text-align: center;
      }

      .views-field-field-rental-duration {
        position: relative;

        .field-content {
          > div {
            position: absolute;
          }

          .badge {
            right: 10px;
            top: 40px;
          }

          .available {
            right: -4px;
            top: 24px;
            width: 85px;
            height: 75px;
            background: url(../images/available.png) no-repeat;
          }
        }
      }
    }
  }
}

div.view {
  ul.pager {
    li {
      a {
        @extend .btn-pagination;
      }

      &.pager-current {
        background: #28882e;
        color     : #fff;
        @extend .btn-pagination;
      }

      &.pager-last, &.pager-first {
        display: none;
      }
    }
  }
}

// hide timer icon on ajax effects
.ajax-progress-throbber {
  display: none;
}