#dashboard {
  padding: 10px;
  margin: 0 auto;

  .summary-tab {
    background: $txtColor;
    @include inline-block;
    vertical-align: top;
    margin: 20px 0 0 0;
    border: 1px solid #ddd;
    @include border-radius(5px);
    padding: 20px;
  }

  h2 {
    font-size: 1.5em;
    margin: 0;
  }

  h3 {
    font-size: 1.2em;
  }

  #general {
    width: 66%;
    margin-right: 20px;

    .item-list {
      margin: 15px 0 0 0;
    }
  }

  #user-profile {
    width: 24%;

    .item-number {
      margin: 5px 0 0 0;
    }
  }

  article {
    width: 110px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    position: relative;
    div {
      text-align: center;
      font-size: 16px;
      color: #666;
    }

    img {
      width: 96px;
      height: 96px;
    }

    a {
      div {
        border-radius: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        box-shadow: 0 8px 6px -6px #888888;
        padding: 5px;
      }
      :hover {
        background-color: #ddd;
      }
    }

    span {
      position: absolute;
      right: -8px;
      top: -8px;
      z-index: 1;
      opacity: 0.8;
      border: 2px solid #ddd;
    }
  }
}