body {
  font-size: .875em;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  padding-top: 30px;

  &.not-front {
    background: $bgColor;
  }

  &.print {
    padding: 0;

    .navbar {
      display: none;
    }
  }

  #modal-remove {
    top: 50%;
    margin-top: -86px;

    h3 {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

  .pagewrap {
    .container {
      width: 96%;
    }

    .btn {
      outline: none!important;
    }

    .brand {
      font-size: 1.2em;

      i {
        margin-top: 3px;
      }
    }

    #message .well {
      text-align: left;
    }

    .highlight {
      background-color: yellow;
    }

    .item-disable {
      td {
        background: #ddd;
      }
    }

    header {
      padding: 0 0 0 30px;
      position: relative;

      h1 {
        font-size: 1.5em;
        color: #fff;
        font-weight: normal;
        margin: 10px 0 0 0;
      }

      #header-list-controls {
        position: absolute;
        right: 30px;
        top: 10px;

        #filter-month {
          width: 145px;
          margin: 0;
        }
      }
    }

    .webform {
      width: 96%;
      margin: 10px auto;

      textarea {
        width: 98%;
      }

      .form-controls {
        label {
          &:first-child {
            margin: 0 0 10px 0;
          }
        }
      }

      .other-controls {
        margin: 20px 0 0 0;
      }

      .form-actions {
        padding: 19px 20px 0 0;
        margin-bottom: 0;
      }
    }

    form {
      textarea {
        resize: both;
        width: 350px;
        height: 100px;
      }
      label {
        margin: 20px 0 10px 0;
      }
      .form-error {
        color: red;
      }
      .form-label {
        width: 250px;
      }
      .form-input input[type=email] {
        width: 300px;
      }
      .form-input-date {
        width: 50px;
        margin: 0 10px 0 0;
      }
      .form-input-month {
        width: 50px;
        margin: 0 10px 0 10px;
      }
      .form-input-year {
        width: 70px;
        margin: 0 0 0 10px;
      }
      input[type="submit"] {
        margin: 20px 0 0 0;
      }
    }

    #form-add label, #form-edit label {
      margin: 20px 0 10px 0;
    }

    .navbar-search {
      display: none;
    }
  }
}