#invoice-print {
  background: #fff;
  width: 800px;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  margin: auto;
  color: black;

  header {
    h4 {
      text-align: center;
      margin: 5px 0;
    }
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  h4 {
    font-size: 1.2em;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
  }

  table {
    text-align: left;
    width: 100%;

    td, th {
      padding: 6px 0;
      border-bottom: 1px solid #CDCDCD;
    }
  }

  #invoice-description {
    text-align: left;

    input {
      outline: none!important;
      margin: 0;
      padding: 0;
      width: auto;
      box-shadow: none!important;
      background-color: yellow!important;
    }
  }
}

#invoice_invoiceDate {
  select {
    &:first-child {
      display: none;
    }
  }
  #invoice_invoiceDate_month {
    margin-left: 0;
  }
}