#main-wrapper {
  background: #fff;
  @include border-bottom-radius(5px);

  #main {
    margin: 0 auto 20px auto;

    #content {
      .section {
        padding: 10px 0 0 0;

        h1 {
          font-size: 2em;
          color: $mainColor;
          border-bottom: 1px solid $secondColor;
          padding-bottom: 5px;
          margin: 0;
        }

        .region-content {
          @import '../pages/map';
          @import '../pages/customer';
          @import '../pages/contact';
          @import '../pages/banner';
        }

        #map-house-system {
          width: 100%;
        }

        .box {
            width: 350px;
            box-shadow: 2px 2px 9px -1px #b7b8b8;
            border: 1px solid #b7b8b8;
            @include border-radius(5px);
            padding-bottom: 10px;
            vertical-align: top;

          h2 {
            color: #fff;
            background: $mainColor;
            @include opacity(.8);
            font-size: 1.2em;
            line-height: 1.2em;
            text-shadow: 0px 1px 1px $secondColor;
            padding: 10px;
            margin: 0 auto 10px auto;
            @include border-top-radius(5px);
            text-align: center;
            text-transform: uppercase;
          }
          .content {
            margin: auto 10px;

            label {
              @include inline-block;
              width: 75px;
            }
          }

          &.facebook-comment {
            width: 100%;
            margin: 20px 0 0 0;
            text-align: left;
            clear: both;

            .fb-like {
              margin: 0 0 5px 1%;
            }
            .fb-comments {
              width: 100% !important;
            }
            .fb-comments iframe {
              width: 98% !important;
              padding: 0 1%;
            }
          }

          &.item-description {
            width: 98%;
            text-align: left;
            padding: 10px;
            margin: 20px 0 0 0;

            ul {
              margin: 0;
              list-style-type: none;

              li {
                margin: 0 0 0 20px;
                background:url('../images/check.png') left top no-repeat;
                background-size:16px 16px;
                text-indent:30px;
                margin: 10px 10px 10px 10px;
              }
            }
          }

          form {
            margin: 0;

            .control-group {
                .control-label {
                    width: 100px;
                    text-align: left;
                    margin-left: 15px;
                }
                .controls {
                    margin-left: 120px;
                }
            }

            .form-actions {
                margin: 0;
            }
          }
        }
      }
    }
  }
}

div.slideshow-block {
  .views_slideshow_cycle_main {
    width: 420px;
    height: 420px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    border: 1px solid #ddd;
    @include border-radius(5px);
    margin: 0 auto;

    .views-slideshow-cycle-main-frame {
      width: 420px;
      height: 420px;

      .views-slideshow-cycle-main-frame-row {
        // margin: 10px 0 0 10px;

        .views-slideshow-cycle-main-frame-row-item {
          img {
            width: 420px;
            max-width: 420px;
            height: 420px;
            display: none;
            margin: 0;
            &:first-child {
                display: block;
            }
          }
        }
      }
    }
  }

  #slideshow-nav {
    margin: 20px 0 20px 0;
    text-align: center;

    a {
      @extend .btn-pagination;
    }
  }
}