#footer-wrapper {
    color: $lightFromDark;
    padding: 0;
    margin: 0;
    background: none;

    h2 {
        display: none;
    }

    #footer-columns {
        .region-footer-firstcolumn {
            float: left;
            padding: 0;
            width: 45%;

            #block-counter-counter {
                border: none;
                margin: 0;
                padding: 0;

                #counter {
                    ul li {
                        display: inline;
                        margin: 0 15px 0 0;

                        strong {
                            float: none;
                            color: $mainColor;
                            font-size: 18px;
                            margin: 0 5px 0 0;
                        }
                    }
                }
            }
        }

        .region-footer-secondcolumn {
            float: right;
            padding: 0;
            width: auto;

            .block-menu-footer {
                margin: 0;
                padding: 0;

                .content {
                    padding: 0;

                    ul.menu {
                        text-align: right;
                        padding: 0;
                        margin: 0;

                        li {
                            @include inline-block;
                            margin: 0 5px 0 0;

                            &.menu-separator {
                                width: 10px;
                                text-align: center;
                            }

                            a {
                                color: #fff;
                                text-decoration: none;
                                border: none;

                                &:hover, &.active, &.active-trail {
                                    color: $mainColor;
                                    background: none;
                                }
                            }

                            &.last {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    #footer {
        margin: 0 auto;
        border: none;

        .region-footer {
            margin: 0;
            text-align: right;

            .block-copyright {
                border: none;
                margin: 0;
                padding: 0;

                .content {
                    padding: 0;
                    margin: 0 0 10px 0;

                    p {
                        margin: 8px 0 0 0;

                        a {
                            color: #fff;
                            text-decoration: none;

                            &:hover {
                                color: $mainColor;
                            }
                        }
                    }
                }
            }
        }
    }
}