#header {
  position: relative;
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
  background: none;

  .section {
    width: $pageWidth;

    #logo {
      padding: 0;
      margin: 0 0 5px 0;
    }

    .region-header {
      margin: 0;

      #block-fblikebutton-fblikebutton-static-block {
        margin: 25px 0 0 0;
      }
    }

    .fb-like {
      position: absolute;
      top: 25px;
      right: 0;
      width: 85px;
      color: #000;

      iframe {
        z-index: 10;
      }
    }

    @import 'nav';
  }
}