#main-menu {
    position               : relative;
    z-index: 10;
    display                : block;
    margin                 : 5px 0 0 0;
    padding                : 0;
    text-align             : center;
    background             : url(../images/nav/globalheader.png) repeat-x;
    @include border-top-radius(5px);

    #main-menu-links {
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin: 0;
            padding: 0;

            a {
                background-position: 100% 0;
                outline            : none;
                float              : left;
                width              : 102px;
                height             : 36px;
                overflow           : hidden;
                background         : url(../images/nav/globalnav.png) no-repeat;
                text-decoration    : none;
                color      : $lightFromDark;
                font-weight: 500;
                padding: 0;
                @include border-radius(0);
                text-shadow: none;

                &.before {
                    background-position: 100% -36px;
                }

                &:hover, &:focus  {
                    background-position: 100% -72px;
                }

                &:active, &.active, &.active-trail {
                    // background-position:100% -108px;
                    background-position: 100% -72px;
                }
            }
        }
    }
}