.pagination {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    // height: 50px;
    width: 100%;
    text-align: center;

	a, span {
        @extend .btn-pagination;
	}
    .prev, .next {
        display: none;
    }
}

#pagination {

}

#hiddenresult {
    display: none;
}

.pagination-control{
    text-align: center;
}

#Searchresult {
    text-align: center;

    article {
        width: 246px;
        display: inline-block;
        margin: 15px 50px 15px 0;
        text-align: left;
        header {
            width: 228px;
            padding: 0 20px 0 10px;
            margin: 0 0 10px 0;
            font-weight: bold;
            position: relative;
            div {
                width: 125px;
                color: $bgColor;
                text-align: right;
                position: absolute;
                top: 0;
                right: 20px;
            }
        }
        .content-item {
            width: 258px;
            height: 276px;
            background: url(../images/home/pagination-item.png) no-repeat;
            position: relative;

            .available, .date-remain {
                position: absolute;
                z-index: 10;
            }

            .available {
                width: 85px;
                height: 75px;
                background: url(../images/available.png) no-repeat;
                right: 8px;
                top: -2px;
            }

            .date-remain {
                right: 21px;
                top: 14px;
                font-size: .8em;
            }

            .image {
                height: 256px;
                overflow: hidden;
                position: relative;

                img {
                    width: 228px;
                    max-width: 100%;
                    height: 246px;
                    margin: 9px 11px;
                }
                footer {
                    width: 208px;
                    height: 107px;
                    padding: 0 10px;
                    background-color: white;
                    position: absolute;
                    left: 11px;
                    bottom: -246px;
                    color: $bgColor;
                    @include opacity(.95);
                    p {
                        margin-top: 10px;
                        line-height: 1.5em;
                    }
                    div {
                        margin-top: 20px;
                    }
                }
            }
        }

        .bottom {
            width: 228px;
            padding: 0 20px 0 10px;
            text-align: center;
            font-weight: bold;
            color: $bgColor;
        }
    }
}