#block-views-banner-block {
    h2 {
        display: none;
    }

    div.content {
        margin: 0;

        img {
            width: 1024px;
            max-width: 1024px;
            margin-left: -32px;
            border-bottom: 1px solid $secondColor;
        }
    }
}