#contact {
    #contact-map {
        width: 450px;
        text-align: left;
        padding: 0;

        p {
            text-align: center;
            margin: 10px 0;
        }
    }

    #heartquarter {
        width: 480px;
        margin-bottom: 20px;

        #google-map {
            margin: 10px 0 0 0;
        }
    }

    .box {
        @include  inline-block;
        &:not(:last-child) {
            margin: 0 16px 0 0;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin: 10px auto;
        }
    }
}