div.view-customer {
  div.view-content {
    div.views-row {
      div.node-client-service {
        margin: 0 0 1em 0;

        h2 {
          font-size: 1.5em;
          line-height: 1.5em;
          margin: 0;
          padding: 0;

          a {
            @include links;
          }
        }

        .content {
          margin: 0;
        }
      }
    }
  }
}

// Full mode
div.node-client-service {
  h3 {
    font-size: 1.2em;
    line-height: 1.2em;
  }

  &.node-full h3 {
    margin-top: 0;
  }
}