body.front {
  #content {
    .section {
      padding: 0!important;

      #page-title {
        display: none;
      }

      .tabs {
        margin: 0;

        ul.tabs.primary {
          margin: 10px 0;
        }
      }

      div.block-free-rooms {
        h2 {
          text-align: center;
          font-weight: bold;
          color: $mainColor;
          text-transform: uppercase;
        }
      }
    }
  }
}

#form-search-room {
  text-align: center;
  margin: 0 0 25px 0;

  #search-place {
    width: 100%;
    margin: 30px 0 0 0;
    text-align: left;

    .content {
      margin: 20px 30px 0 30px;
      padding: 20px 0 0 0;

      > div {
        width: 300px;
        display: inline-block;

        input, select {
          width: auto;
        }
      }
    }
  }

  #form-result {
    position: relative;

    #result-number {
      position: absolute;
      bottom: 0;
      left: 30px;
      text-align: left;
    }
    button[type=submit] {
      margin: 15px 0 0 0;
    }
    #result-order {
      position: absolute;
      right: 30px;
      top: 11px;

      #result-order-mode {
        margin: -5px 0 0 5px;
      }

      select {
        width: 118px;
        vertical-align: middle;
        margin: 5px 0 10px 5px;
      }

      label {
        display: inline-block;
      }
    }
  }

}