body.node-type-house {
  .region-content {
    position: relative;

    #house-info {
      width: 45%!important;
      margin: 15px 20px 0 0;
      position: absolute;
      top: 0;
      right: 0;

      #house-map {
        margin: 15px 0 0 0;
      }

      table {
        margin: 0;

        tbody {
          border: none;
        }

        tr {
          background: none;

          td {
            border: none;
            &:first-child {
              width: 100px;
            }
          }
        }
      }
    }

    .item-description {
    }
  }
}

.slideshow-house {
  width: 45%;
  margin: 0 2% 0 0;
  display: inline-block;
}

#house-detail {
  padding: 20px 0 0 0;
  text-align: center;

  #cycle-container {
    width: 45%;
    margin: 0 2% 0 0;
    display: inline-block;
  }
}