body.node-type-invoice {
  #page-title {
    display: none;
  }
}

div.node.node-invoice {
  .content {
    margin: 0;
  }

  #invoice-print {
    background: #fff;
    width: 800px;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    margin: auto;
    color: black;

    header {
      h4 {
        font-size: 1em;
        margin: 5px 0;
        text-transform: uppercase;
      }

      h2 {
        text-transform: uppercase;
        font-size: 1.5em;
        margin: .5em 0;
      }
    }

    table {
      text-align: left;
      width: 100%;

      td, th {
        padding: 5px;
        border-bottom: 1px solid #CDCDCD;
      }
    }

    #invoice-description {
      text-align: left;

      input {
        outline: none!important;
        margin: 0;
        padding: 0;
        width: auto;
        box-shadow: none!important;
        background-color: yellow!important;
      }
    }
  }

  #invoice_invoiceDate {
    select {
      &:first-child {
        display: none;
      }
    }
    #invoice_invoiceDate_month {
      margin-left: 0;
    }
  }
}

.print-hr, .print-breadcrumb, .print-site_name, .print-logo {
  display: none;
}

.print-site_name + p {
  display: none;
}