div.node.node-map {
  .content {
    margin: 0;

    #map {
      padding: 0;
      text-align: center;

      iframe {
        width: 100%;
      }

      p {
        margin: 0;

        a {
          margin: 10px 0 0 0;
        }
      }
    }
  }
}