body.node-type-room {
  .views-slideshow-cycle-main-frame {
    margin: 0 auto;
  }

  div.node-room {
    .content {
      #house-info, #room-info, #contact-phone {
        padding: 0 0 1px 0!important;

        table {
          margin: 0;
        }
      }

      #house-info {
        float: left;
        width: 45%!important;
      }

      #room-info {
        float: right;
        width: 50%!important;
        margin: 0 0 20px 0;

        #price {
          text-align: center;
          font-weight: bold;
        }

        ul#room-info-detail {
          display: table;
          border: 0;
          border-spacing: 0;
          font-size: 0.857em;
          padding: 0;
          margin: 10px 0 0 0;
          width: 100%;

          li {
            display: table-row;
            background: rgba(0, 0, 0, 0.063);

            > label {
              width: 40%;
            }

            > label, > div {
              display: table-cell;
              padding: 8px;
              line-height: 20px;
              text-align: left;
              vertical-align: top;
              border-top: 1px solid #ddd;
              border: 1px solid #fff;
            }
          }
        }
      }

      #room-feature-include {
        clear: both;
        width: 100%!important;
        margin: 0 0 20px 0;

        ul {
          list-style-type: none;
          text-align: center;

          li {
            @include inline-block;
            margin: 0 10px 0 0;
          }
        }
      }

      #room-feature-no-include {
        width: 100%!important;
        margin: 0 0 20px 0;

        > p, > div, > ul {
          padding: 0 20px;
        }

        ul {
          li {
            @include inline-block;
            margin: 0 10px 0 0;
          }
        }
      }

      #contact-phone {
        clear: both;
        margin: 0 auto!important;
      }
    }
  }
}

#room {
  $box-width: 478px;
  text-align: center;
  padding-top: 20px;

  .box {
    @include inline-block;

    .table {
      margin: 0;
    }
  }

  .cycle {
    @include inline-block;
  }

  #house-info {
    width: $box-width;
    margin: 0 20px 0 0;
    table {
      tr {
        td {
          &:first-child {
            width: 100px;
          }
        }
      }
    }
  }

  #room-info {
    width: $box-width;
    height: 317px;
    vertical-align: top;

    #period {
      width: 145px;
      float: right;
      margin: 0 20px 10px 0;
    }

    #price {
      font-size: 1.3em;
      color: $mainColor;
      margin: 0 0 10px 0;
      text-align: left;
      padding: 0px 0 0 20px;
      font-weight: bold;
    }
  }

  #room-feature {
    width: 100%;
    margin: 20px 0 20px 0;

    p {
      margin: 10px;
    }

    #last-price {
      color: $mainColor;
      font-size: 1.5em;
      font-weight: bold;
      text-transform: uppercase;
    }

    #features {
      text-align: left;
      margin: 20px;

      li {
        @include inline-block;
        vertical-align: top;
        width: 30%;
        height: 64px;
        margin: 0 2% 1% 0;
        border: 1px solid #ddd;
        box-shadow: 1px 2px 5px #ddd;
        padding: 5px 5px 5px 8px;
        cursor: pointer;
        @include border-radius(5px);

        &:hover, &.active, &.current {
          color: #fff;
          background: $mainColor;
        }

        &:nth-child(3n) {
          margin: 0;
        }

        > div {
          @include inline-block;
          font-size: 1em;

          .feature-name {
            font-size: 1.1em;
          }
        }

        img {
          max-width: 100%;
          max-height: 100%;
          margin: 0 15px 0 0;
        }
      }
    }
  }

  #contact-phone {
    width: 360px;
    margin: 0 20px 0 0;
    vertical-align: top;
    i {
      margin: 0 10px 0 0;
    }
  }

  #contact-online {
    width: 600px;
    padding: 0;
    #reservation-form {
      label {
        width: 150px;
      }
    }
  }
}