#nav-image {
  margin: 20px 0 20px 0;
  text-align: center;
  a {
    @extend .btn-pagination;
  }
}

.fancybox-inner {
  height: auto!important;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
}