/* line 1, ../sass/_others.scss */
.btn-pagination, div.view ul.pager li a, div.view ul.pager li.pager-current, #page-wrapper #page div.slideshow-block #slideshow-nav a, .pagination a, .pagination span, #nav-image a {
  font-weight: bold;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.3em 0.6em;
  margin: 0 10px 5px 0;
  min-width: 1em;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px #28882e;
  border: none;
}
/* line 12, ../sass/_others.scss */
.btn-pagination:hover, div.view ul.pager li a:hover, div.view ul.pager li.pager-current:hover, #page-wrapper #page div.slideshow-block #slideshow-nav a:hover, .pagination a:hover, .pagination span:hover, #nav-image a:hover, .btn-pagination.activeSlide, div.view ul.pager li a.activeSlide, div.view ul.pager li.activeSlide.pager-current, #page-wrapper #page div.slideshow-block #slideshow-nav a.activeSlide, .pagination a.activeSlide, .pagination span.activeSlide, #nav-image a.activeSlide, .btn-pagination.current, div.view ul.pager li a.current, div.view ul.pager li.current.pager-current, #page-wrapper #page div.slideshow-block #slideshow-nav a.current, .pagination a.current, .pagination span.current, #nav-image a.current {
  background: #28882e;
  color: #fff;
}

/* line 19, ../sass/_others.scss */
div.view-house-room-list .view-content {
  text-align: center;
}
/* line 22, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 246px;
  display: inline-block;
  vertical-align: top;
  margin: 15px 50px 15px 0;
  text-align: left;
}
/* line 30, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-title, div.view-house-room-list .view-content .views-row .views-field-field-district {
  margin: 0 0 5px 0;
}
/* line 34, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-title {
  float: left;
  color: #3e3e3e;
  font-weight: bold;
}
/* line 40, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-district, div.view-house-room-list .view-content .views-row .views-field-field-price {
  float: right;
  font-weight: bold;
}
/* line 45, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-images {
  clear: both;
  width: 258px;
  height: 276px;
  background: url(../images/home/pagination-item.png) no-repeat;
}
/* line 51, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-images img {
  width: 228px;
  max-width: 100%;
  height: 246px;
  margin: 9px 11px;
}
/* line 59, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-address, div.view-house-room-list .view-content .views-row .views-field-field-house {
  font-weight: bold;
  text-align: center;
}
/* line 64, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-rental-duration {
  position: relative;
}
/* line 68, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-rental-duration .field-content > div {
  position: absolute;
}
/* line 72, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-rental-duration .field-content .badge {
  right: 10px;
  top: 40px;
}
/* line 77, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-rental-duration .field-content .available {
  right: -4px;
  top: 24px;
  width: 85px;
  height: 75px;
  background: url(../images/available.png) no-repeat;
}

/* line 97, ../sass/_others.scss */
div.view ul.pager li.pager-current {
  background: #28882e;
  color: #fff;
}
/* line 103, ../sass/_others.scss */
div.view ul.pager li.pager-last, div.view ul.pager li.pager-first {
  display: none;
}

/* line 111, ../sass/_others.scss */
.ajax-progress-throbber {
  display: none;
}

/* line 7, ../sass/partial/_icon.scss */
.icon {
  padding-left: 30px;
  line-height: 1.6667em;
}

/* line 12, ../sass/partial/_icon.scss */
.ico-map {
  background: url("../images/icon/ico-map.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}

/* line 15, ../sass/partial/_icon.scss */
.ico-home {
  background: url("../images/icon/ico-home.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}

/* line 18, ../sass/partial/_icon.scss */
.ico-time {
  background: url("../images/icon/ico-time.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}

/* line 21, ../sass/partial/_icon.scss */
.ico-person {
  background: url("../images/icon/ico-person.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}

/* line 24, ../sass/partial/_icon.scss */
.ico-phone {
  background: url("../images/icon/ico-phone.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}

/* line 27, ../sass/partial/_icon.scss */
.ico-mobile {
  background: url("../images/icon/ico-mobile.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}

/* line 30, ../sass/partial/_icon.scss */
.ico-email {
  background: url("../images/icon/ico-email.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}

/* line 33, ../sass/partial/_icon.scss */
.ico-skype {
  background: url("../images/icon/ico-skype.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}

/* line 36, ../sass/partial/_icon.scss */
.ico-facebook {
  background: url("../images/icon/ico-facebook.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}

/* line 1, ../sass/partial/_general.scss */
body {
  background-color: #3e3e3e;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: .875em;
  margin: 0;
}

/* line 8, ../sass/partial/_general.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 12, ../sass/partial/_general.scss */
#page-wrapper {
  background: none;
}
/* line 15, ../sass/partial/_general.scss */
#page-wrapper #page {
  width: 1024px;
  margin: 0 auto;
  background: none;
}
/* line 1, ../sass/partial/content/_header.scss */
#page-wrapper #page #header {
  position: relative;
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
  background: none;
}
/* line 7, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section {
  width: 1024px;
}
/* line 10, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section #logo {
  padding: 0;
  margin: 0 0 5px 0;
}
/* line 15, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section .region-header {
  margin: 0;
}
/* line 18, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section .region-header #block-fblikebutton-fblikebutton-static-block {
  margin: 25px 0 0 0;
}
/* line 23, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section .fb-like {
  position: absolute;
  top: 25px;
  right: 0;
  width: 85px;
  color: #000;
}
/* line 30, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section .fb-like iframe {
  z-index: 10;
}
/* line 1, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu {
  position: relative;
  z-index: 10;
  display: block;
  margin: 5px 0 0 0;
  padding: 0;
  text-align: center;
  background: url(../images/nav/globalheader.png) repeat-x;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 11, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links {
  margin: 0;
  padding: 0;
}
/* line 15, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links li {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links li a {
  background-position: 100% 0;
  outline: none;
  float: left;
  width: 102px;
  height: 36px;
  overflow: hidden;
  background: url(../images/nav/globalnav.png) no-repeat;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
}
/* line 35, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links li a.before {
  background-position: 100% -36px;
}
/* line 39, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links li a:hover, #page-wrapper #page #header .section #main-menu #main-menu-links li a:focus {
  background-position: 100% -72px;
}
/* line 43, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links li a:active, #page-wrapper #page #header .section #main-menu #main-menu-links li a.active, #page-wrapper #page #header .section #main-menu #main-menu-links li a.active-trail {
  background-position: 100% -72px;
}
/* line 22, ../sass/partial/_general.scss */
#page-wrapper #page #messages {
  padding: 20px 0 20px;
  background: #fff;
}
/* line 1, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper {
  background: #fff;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 5, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main {
  margin: 0 auto 20px auto;
}
/* line 9, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section {
  padding: 10px 0 0 0;
}
/* line 12, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section h1 {
  font-size: 2em;
  color: #28882e;
  border-bottom: 1px solid #b7b8b8;
  padding-bottom: 5px;
  margin: 0;
}
/* line 2, ../sass/partial/pages/_map.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node.node-map .content {
  margin: 0;
}
/* line 5, ../sass/partial/pages/_map.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node.node-map .content #map {
  padding: 0;
  text-align: center;
}
/* line 9, ../sass/partial/pages/_map.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node.node-map .content #map iframe {
  width: 100%;
}
/* line 13, ../sass/partial/pages/_map.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node.node-map .content #map p {
  margin: 0;
}
/* line 16, ../sass/partial/pages/_map.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node.node-map .content #map p a {
  margin: 10px 0 0 0;
}
/* line 4, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.view-customer div.view-content div.views-row div.node-client-service {
  margin: 0 0 1em 0;
}
/* line 7, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.view-customer div.view-content div.views-row div.node-client-service h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
/* line 13, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.view-customer div.view-content div.views-row div.node-client-service h2 a {
  color: #28882e;
  outline-style: none;
  text-decoration: none;
  outline: none;
}
/* line 7, ../sass/_mixins.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.view-customer div.view-content div.views-row div.node-client-service h2 a:hover {
  text-decoration: none;
  color: #3e3e3e;
}
/* line 18, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.view-customer div.view-content div.views-row div.node-client-service .content {
  margin: 0;
}
/* line 28, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node-client-service h3 {
  font-size: 1.2em;
  line-height: 1.2em;
}
/* line 33, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node-client-service.node-full h3 {
  margin-top: 0;
}
/* line 2, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact #contact-map {
  width: 450px;
  text-align: left;
  padding: 0;
}
/* line 7, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact #contact-map p {
  text-align: center;
  margin: 10px 0;
}
/* line 13, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact #heartquarter {
  width: 480px;
  margin-bottom: 20px;
}
/* line 17, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact #heartquarter #google-map {
  margin: 10px 0 0 0;
}
/* line 22, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact .box {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 24, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact .box:not(:last-child) {
  margin: 0 16px 0 0;
}
/* line 29, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact ul {
  list-style-type: none;
  padding: 0;
}
/* line 33, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact ul li {
  margin: 10px auto;
}
/* line 2, ../sass/partial/pages/_banner.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #block-views-banner-block h2 {
  display: none;
}
/* line 6, ../sass/partial/pages/_banner.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #block-views-banner-block div.content {
  margin: 0;
}
/* line 9, ../sass/partial/pages/_banner.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #block-views-banner-block div.content img {
  width: 1024px;
  max-width: 1024px;
  margin-left: -32px;
  border-bottom: 1px solid #b7b8b8;
}
/* line 27, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section #map-house-system {
  width: 100%;
}
/* line 31, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box {
  width: 350px;
  box-shadow: 2px 2px 9px -1px #b7b8b8;
  border: 1px solid #b7b8b8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-bottom: 10px;
  vertical-align: top;
}
/* line 39, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box h2 {
  color: #fff;
  background: #28882e;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  font-size: 1.2em;
  line-height: 1.2em;
  text-shadow: 0px 1px 1px #b7b8b8;
  padding: 10px;
  margin: 0 auto 10px auto;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
/* line 52, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box .content {
  margin: auto 10px;
}
/* line 55, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box .content label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 75px;
}
/* line 61, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.facebook-comment {
  width: 100%;
  margin: 20px 0 0 0;
  text-align: left;
  clear: both;
}
/* line 67, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.facebook-comment .fb-like {
  margin: 0 0 5px 1%;
}
/* line 70, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.facebook-comment .fb-comments {
  width: 100% !important;
}
/* line 73, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.facebook-comment .fb-comments iframe {
  width: 98% !important;
  padding: 0 1%;
}
/* line 79, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.item-description {
  width: 98%;
  text-align: left;
  padding: 10px;
  margin: 20px 0 0 0;
}
/* line 85, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.item-description ul {
  margin: 0;
  list-style-type: none;
}
/* line 89, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.item-description ul li {
  margin: 0 0 0 20px;
  background: url("../images/check.png") left top no-repeat;
  background-size: 16px 16px;
  text-indent: 30px;
  margin: 10px 10px 10px 10px;
}
/* line 99, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box form {
  margin: 0;
}
/* line 103, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box form .control-group .control-label {
  width: 100px;
  text-align: left;
  margin-left: 15px;
}
/* line 108, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box form .control-group .controls {
  margin-left: 120px;
}
/* line 113, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box form .form-actions {
  margin: 0;
}
/* line 124, ../sass/partial/content/_content.scss */
#page-wrapper #page div.slideshow-block .views_slideshow_cycle_main {
  width: 420px;
  height: 420px;
  box-shadow: 0 0 10px #ddd;
  padding: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
}
/* line 133, ../sass/partial/content/_content.scss */
#page-wrapper #page div.slideshow-block .views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 420px;
  height: 420px;
}
/* line 141, ../sass/partial/content/_content.scss */
#page-wrapper #page div.slideshow-block .views_slideshow_cycle_main .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item img {
  width: 420px;
  max-width: 420px;
  height: 420px;
  display: none;
  margin: 0;
}
/* line 147, ../sass/partial/content/_content.scss */
#page-wrapper #page div.slideshow-block .views_slideshow_cycle_main .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item img:first-child {
  display: block;
}
/* line 156, ../sass/partial/content/_content.scss */
#page-wrapper #page div.slideshow-block #slideshow-nav {
  margin: 20px 0 20px 0;
  text-align: center;
}
/* line 1, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper {
  color: white;
  padding: 0;
  margin: 0;
  background: none;
}
/* line 7, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper h2 {
  display: none;
}
/* line 12, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-firstcolumn {
  float: left;
  padding: 0;
  width: 45%;
}
/* line 17, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-firstcolumn #block-counter-counter {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 23, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-firstcolumn #block-counter-counter #counter ul li {
  display: inline;
  margin: 0 15px 0 0;
}
/* line 27, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-firstcolumn #block-counter-counter #counter ul li strong {
  float: none;
  color: #28882e;
  font-size: 18px;
  margin: 0 5px 0 0;
}
/* line 38, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn {
  float: right;
  padding: 0;
  width: auto;
}
/* line 43, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer {
  margin: 0;
  padding: 0;
}
/* line 47, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content {
  padding: 0;
}
/* line 50, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu {
  text-align: right;
  padding: 0;
  margin: 0;
}
/* line 55, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 5px 0 0;
}
/* line 59, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li.menu-separator {
  width: 10px;
  text-align: center;
}
/* line 64, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li a {
  color: #fff;
  text-decoration: none;
  border: none;
}
/* line 69, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li a:hover, #page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li a.active, #page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li a.active-trail {
  color: #28882e;
  background: none;
}
/* line 75, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li.last {
  margin: 0;
}
/* line 85, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer {
  margin: 0 auto;
  border: none;
}
/* line 89, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer {
  margin: 0;
  text-align: right;
}
/* line 93, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer .block-copyright {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 98, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer .block-copyright .content {
  padding: 0;
  margin: 0 0 10px 0;
}
/* line 102, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer .block-copyright .content p {
  margin: 8px 0 0 0;
}
/* line 105, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer .block-copyright .content p a {
  color: #fff;
  text-decoration: none;
}
/* line 109, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer .block-copyright .content p a:hover {
  color: #28882e;
}

/* line 33, ../sass/partial/_general.scss */
a {
  color: #28882e;
  outline-style: none;
  text-decoration: none;
  outline: none;
}
/* line 7, ../sass/_mixins.scss */
a:hover {
  text-decoration: none;
  color: #3e3e3e;
}

/* line 37, ../sass/partial/_general.scss */
.housemap {
  width: 800px;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 42, ../sass/partial/_general.scss */
.housemap small {
  margin-top: 5px;
}

/* line 1, ../sass/partial/content/_pagination.scss */
.pagination {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}
/* line 12, ../sass/partial/content/_pagination.scss */
.pagination .prev, .pagination .next {
  display: none;
}

/* line 21, ../sass/partial/content/_pagination.scss */
#hiddenresult {
  display: none;
}

/* line 25, ../sass/partial/content/_pagination.scss */
.pagination-control {
  text-align: center;
}

/* line 29, ../sass/partial/content/_pagination.scss */
#Searchresult {
  text-align: center;
}
/* line 32, ../sass/partial/content/_pagination.scss */
#Searchresult article {
  width: 246px;
  display: inline-block;
  margin: 15px 50px 15px 0;
  text-align: left;
}
/* line 37, ../sass/partial/content/_pagination.scss */
#Searchresult article header {
  width: 228px;
  padding: 0 20px 0 10px;
  margin: 0 0 10px 0;
  font-weight: bold;
  position: relative;
}
/* line 43, ../sass/partial/content/_pagination.scss */
#Searchresult article header div {
  width: 125px;
  color: #3e3e3e;
  text-align: right;
  position: absolute;
  top: 0;
  right: 20px;
}
/* line 52, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item {
  width: 258px;
  height: 276px;
  background: url(../images/home/pagination-item.png) no-repeat;
  position: relative;
}
/* line 58, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .available, #Searchresult article .content-item .date-remain {
  position: absolute;
  z-index: 10;
}
/* line 63, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .available {
  width: 85px;
  height: 75px;
  background: url(../images/available.png) no-repeat;
  right: 8px;
  top: -2px;
}
/* line 71, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .date-remain {
  right: 21px;
  top: 14px;
  font-size: .8em;
}
/* line 77, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .image {
  height: 256px;
  overflow: hidden;
  position: relative;
}
/* line 82, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .image img {
  width: 228px;
  max-width: 100%;
  height: 246px;
  margin: 9px 11px;
}
/* line 88, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .image footer {
  width: 208px;
  height: 107px;
  padding: 0 10px;
  background-color: white;
  position: absolute;
  left: 11px;
  bottom: -246px;
  color: #3e3e3e;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}
/* line 98, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .image footer p {
  margin-top: 10px;
  line-height: 1.5em;
}
/* line 102, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .image footer div {
  margin-top: 20px;
}
/* line 109, ../sass/partial/content/_pagination.scss */
#Searchresult article .bottom {
  width: 228px;
  padding: 0 20px 0 10px;
  text-align: center;
  font-weight: bold;
  color: #3e3e3e;
}

/* line 3, ../sass/partial/pages/_home.scss */
body.front #content .section {
  padding: 0 !important;
}
/* line 6, ../sass/partial/pages/_home.scss */
body.front #content .section #page-title {
  display: none;
}
/* line 10, ../sass/partial/pages/_home.scss */
body.front #content .section .tabs {
  margin: 0;
}
/* line 13, ../sass/partial/pages/_home.scss */
body.front #content .section .tabs ul.tabs.primary {
  margin: 10px 0;
}
/* line 19, ../sass/partial/pages/_home.scss */
body.front #content .section div.block-free-rooms h2 {
  text-align: center;
  font-weight: bold;
  color: #28882e;
  text-transform: uppercase;
}

/* line 30, ../sass/partial/pages/_home.scss */
#form-search-room {
  text-align: center;
  margin: 0 0 25px 0;
}
/* line 34, ../sass/partial/pages/_home.scss */
#form-search-room #search-place {
  width: 100%;
  margin: 30px 0 0 0;
  text-align: left;
}
/* line 39, ../sass/partial/pages/_home.scss */
#form-search-room #search-place .content {
  margin: 20px 30px 0 30px;
  padding: 20px 0 0 0;
}
/* line 43, ../sass/partial/pages/_home.scss */
#form-search-room #search-place .content > div {
  width: 300px;
  display: inline-block;
}
/* line 47, ../sass/partial/pages/_home.scss */
#form-search-room #search-place .content > div input, #form-search-room #search-place .content > div select {
  width: auto;
}
/* line 54, ../sass/partial/pages/_home.scss */
#form-search-room #form-result {
  position: relative;
}
/* line 57, ../sass/partial/pages/_home.scss */
#form-search-room #form-result #result-number {
  position: absolute;
  bottom: 0;
  left: 30px;
  text-align: left;
}
/* line 63, ../sass/partial/pages/_home.scss */
#form-search-room #form-result button[type=submit] {
  margin: 15px 0 0 0;
}
/* line 66, ../sass/partial/pages/_home.scss */
#form-search-room #form-result #result-order {
  position: absolute;
  right: 30px;
  top: 11px;
}
/* line 71, ../sass/partial/pages/_home.scss */
#form-search-room #form-result #result-order #result-order-mode {
  margin: -5px 0 0 5px;
}
/* line 75, ../sass/partial/pages/_home.scss */
#form-search-room #form-result #result-order select {
  width: 118px;
  vertical-align: middle;
  margin: 5px 0 10px 5px;
}
/* line 81, ../sass/partial/pages/_home.scss */
#form-search-room #form-result #result-order label {
  display: inline-block;
}

/* line 2, ../sass/partial/pages/_room.scss */
body.node-type-room .views-slideshow-cycle-main-frame {
  margin: 0 auto;
}
/* line 8, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #house-info, body.node-type-room div.node-room .content #room-info, body.node-type-room div.node-room .content #contact-phone {
  padding: 0 0 1px 0 !important;
}
/* line 11, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #house-info table, body.node-type-room div.node-room .content #room-info table, body.node-type-room div.node-room .content #contact-phone table {
  margin: 0;
}
/* line 16, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #house-info {
  float: left;
  width: 45% !important;
}
/* line 21, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info {
  float: right;
  width: 50% !important;
  margin: 0 0 20px 0;
}
/* line 26, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info #price {
  text-align: center;
  font-weight: bold;
}
/* line 31, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info ul#room-info-detail {
  display: table;
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  padding: 0;
  margin: 10px 0 0 0;
  width: 100%;
}
/* line 40, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info ul#room-info-detail li {
  display: table-row;
  background: rgba(0, 0, 0, 0.063);
}
/* line 44, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info ul#room-info-detail li > label {
  width: 40%;
}
/* line 48, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info ul#room-info-detail li > label, body.node-type-room div.node-room .content #room-info ul#room-info-detail li > div {
  display: table-cell;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border: 1px solid #fff;
}
/* line 61, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-include {
  clear: both;
  width: 100% !important;
  margin: 0 0 20px 0;
}
/* line 66, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-include ul {
  list-style-type: none;
  text-align: center;
}
/* line 70, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-include ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 10px 0 0;
}
/* line 77, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-no-include {
  width: 100% !important;
  margin: 0 0 20px 0;
}
/* line 81, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-no-include > p, body.node-type-room div.node-room .content #room-feature-no-include > div, body.node-type-room div.node-room .content #room-feature-no-include > ul {
  padding: 0 20px;
}
/* line 86, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-no-include ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 10px 0 0;
}
/* line 93, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #contact-phone {
  clear: both;
  margin: 0 auto !important;
}

/* line 101, ../sass/partial/pages/_room.scss */
#room {
  text-align: center;
  padding-top: 20px;
}
/* line 106, ../sass/partial/pages/_room.scss */
#room .box {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 109, ../sass/partial/pages/_room.scss */
#room .box .table {
  margin: 0;
}
/* line 114, ../sass/partial/pages/_room.scss */
#room .cycle {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 118, ../sass/partial/pages/_room.scss */
#room #house-info {
  width: 478px;
  margin: 0 20px 0 0;
}
/* line 124, ../sass/partial/pages/_room.scss */
#room #house-info table tr td:first-child {
  width: 100px;
}
/* line 132, ../sass/partial/pages/_room.scss */
#room #room-info {
  width: 478px;
  height: 317px;
  vertical-align: top;
}
/* line 137, ../sass/partial/pages/_room.scss */
#room #room-info #period {
  width: 145px;
  float: right;
  margin: 0 20px 10px 0;
}
/* line 143, ../sass/partial/pages/_room.scss */
#room #room-info #price {
  font-size: 1.3em;
  color: #28882e;
  margin: 0 0 10px 0;
  text-align: left;
  padding: 0px 0 0 20px;
  font-weight: bold;
}
/* line 153, ../sass/partial/pages/_room.scss */
#room #room-feature {
  width: 100%;
  margin: 20px 0 20px 0;
}
/* line 157, ../sass/partial/pages/_room.scss */
#room #room-feature p {
  margin: 10px;
}
/* line 161, ../sass/partial/pages/_room.scss */
#room #room-feature #last-price {
  color: #28882e;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 168, ../sass/partial/pages/_room.scss */
#room #room-feature #features {
  text-align: left;
  margin: 20px;
}
/* line 172, ../sass/partial/pages/_room.scss */
#room #room-feature #features li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 30%;
  height: 64px;
  margin: 0 2% 1% 0;
  border: 1px solid #ddd;
  box-shadow: 1px 2px 5px #ddd;
  padding: 5px 5px 5px 8px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 184, ../sass/partial/pages/_room.scss */
#room #room-feature #features li:hover, #room #room-feature #features li.active, #room #room-feature #features li.current {
  color: #fff;
  background: #28882e;
}
/* line 189, ../sass/partial/pages/_room.scss */
#room #room-feature #features li:nth-child(3n) {
  margin: 0;
}
/* line 193, ../sass/partial/pages/_room.scss */
#room #room-feature #features li > div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 1em;
}
/* line 197, ../sass/partial/pages/_room.scss */
#room #room-feature #features li > div .feature-name {
  font-size: 1.1em;
}
/* line 202, ../sass/partial/pages/_room.scss */
#room #room-feature #features li img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 15px 0 0;
}
/* line 211, ../sass/partial/pages/_room.scss */
#room #contact-phone {
  width: 360px;
  margin: 0 20px 0 0;
  vertical-align: top;
}
/* line 215, ../sass/partial/pages/_room.scss */
#room #contact-phone i {
  margin: 0 10px 0 0;
}
/* line 220, ../sass/partial/pages/_room.scss */
#room #contact-online {
  width: 600px;
  padding: 0;
}
/* line 224, ../sass/partial/pages/_room.scss */
#room #contact-online #reservation-form label {
  width: 150px;
}

/* line 2, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content {
  position: relative;
}
/* line 5, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info {
  width: 45% !important;
  margin: 15px 20px 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 12, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info #house-map {
  margin: 15px 0 0 0;
}
/* line 16, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info table {
  margin: 0;
}
/* line 19, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info table tbody {
  border: none;
}
/* line 23, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info table tr {
  background: none;
}
/* line 26, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info table tr td {
  border: none;
}
/* line 28, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info table tr td:first-child {
  width: 100px;
}

/* line 41, ../sass/partial/pages/_house.scss */
.slideshow-house {
  width: 45%;
  margin: 0 2% 0 0;
  display: inline-block;
}

/* line 47, ../sass/partial/pages/_house.scss */
#house-detail {
  padding: 20px 0 0 0;
  text-align: center;
}
/* line 51, ../sass/partial/pages/_house.scss */
#house-detail #cycle-container {
  width: 45%;
  margin: 0 2% 0 0;
  display: inline-block;
}

/* line 2, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #page-title {
  display: none;
}

/* line 8, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice .content {
  margin: 0;
}
/* line 12, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print {
  background: #fff;
  width: 800px;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  margin: auto;
  color: black;
}
/* line 22, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print header h4 {
  font-size: 1em;
  margin: 5px 0;
  text-transform: uppercase;
}
/* line 28, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print header h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: .5em 0;
}
/* line 35, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print table {
  text-align: left;
  width: 100%;
}
/* line 39, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print table td, div.node.node-invoice #invoice-print table th {
  padding: 5px;
  border-bottom: 1px solid #CDCDCD;
}
/* line 45, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print #invoice-description {
  text-align: left;
}
/* line 48, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print #invoice-description input {
  outline: none !important;
  margin: 0;
  padding: 0;
  width: auto;
  box-shadow: none !important;
  background-color: yellow !important;
}
/* line 61, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice_invoiceDate select:first-child {
  display: none;
}
/* line 65, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice_invoiceDate #invoice_invoiceDate_month {
  margin-left: 0;
}

/* line 71, ../sass/partial/pages/_invoice.scss */
.print-hr, .print-breadcrumb, .print-site_name, .print-logo {
  display: none;
}

/* line 75, ../sass/partial/pages/_invoice.scss */
.print-site_name + p {
  display: none;
}

/* line 1, ../sass/partial/lib/_cycle.scss */
#nav-image {
  margin: 20px 0 20px 0;
  text-align: center;
}

/* line 9, ../sass/partial/lib/_cycle.scss */
.fancybox-inner {
  height: auto !important;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
}
