body {
    background-color: $bgColor;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: .875em;
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}

#page-wrapper {
    background: none;

    #page {
        width: $pageWidth;
        margin: 0 auto;
        background: none;

        @import 'content/header';

        #messages {
            padding: 20px 0 20px;
            background: #fff;
        }

        @import 'content/content';
        @import 'content/footer';
    }
}


a {
    @include links;
}

.housemap {
    width: 800px;
    padding: 10px;
    margin-bottom: 10px;

    small {
        margin-top:5px;
    }
}
