@mixin ico ($icon) {
    background: url('../images/icon/#{$icon}') no-repeat left top;
    line-height: 1.6667em;
    padding-left: 30px;
}

.icon {
    padding-left: 30px;
    line-height: 1.6667em;
}

.ico-map {
    @include ico('ico-map.png');
}
.ico-home {
    @include ico('ico-home.png');
}
.ico-time {
    @include ico('ico-time.png');
}
.ico-person {
    @include ico('ico-person.png');
}
.ico-phone {
    @include ico('ico-phone.png');
}
.ico-mobile {
    @include ico('ico-mobile.png');
}
.ico-email {
    @include ico('ico-email.png');
}
.ico-skype {
    @include ico('ico-skype.png');
}
.ico-facebook {
    @include ico('ico-facebook.png');
}